
body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
	color: #000;
	margin: 0;
	padding: 20px;
}
.container {
	width: 90%;
	margin: 40px auto;
	padding: 20px;
	border: 2px solid #7a3db8;
	background-color: #dde3ec;
}

h1 {
	text-align: center;
	color: darkgrey;
	background-color: #222a35;
	font-size: 44px;
	font-style: italic;
	margin-bottom: 10px;
	border: solid 4px black;
	text-decoration-line: underline;
}

h2 {
	text-align: right;
	font-size: 20px;
	color:yellow;
	text-decoration-line:underline;
}

h3, h4 {
	font-size: 27px;
	text-decoration-line:underline;
	color:purple;
}

img {
	display: block;
	margin: 20px auto;
	max-width: 70%;
	border: 1px solid #ccc;
	border-radius: 6px;
}

ul {
	width: fit-content;
	font-size: 18px;
}
.lista-dreapta {
	margin-left: auto; 
	margin-right: 0;
	text-align: right; 
	list-style-position: inside;
}

table {
	width: 80%;
	margin: 25px auto;
	border: 3px darkorange;
	border-style: double;
	background-color: darkorange;
	font-size: 18px;

	
}

th {
	background-color: darkgrey;
	color: yellow;
	font-weight: bold;
	text-decoration-line: underline;
	padding: 10px 12px;
}

#click {
	font-size: 27px;
	text-decoration-line: underline;
	color: purple;
	font-weight: bold;
}